RewriteEngine On

# Route requests starting with /system to index.php
RewriteCond %{REQUEST_URI} ^/system.*
RewriteRule ^(.*)$ index.php/$1 [QSA,L]

# Route requests to index.php if the requested file or directory does not exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php/$1 [QSA,L]
